
a {
    text-decoration: none;
}

html {
    /*font-size: 10px;*/
    box-sizing: border-box
}

body, html {
    height: 100%
}

body {
    background-color: #000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    color: #fffffe;
    overscroll-behavior-y: contain
}

*, :after, :before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: inherit
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: 400;
    margin: 0
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none
}

img {
    display: block
}

svg {
    overflow: visible
}

:root {
    font-size: 12px;
}

@media (max-width: 767px) {
    :root {
        font-size: 6px;
    }
}

.hidden {
    display: none;
}
.font-bold{
    font-weight: bold;
}

.logo {
    position: fixed;
    width: 16rem;
    height: 4rem;
    background: url("../images/logo.png") no-repeat;
    background-size: 100% 100%;
    top: 6rem;
    left: 5%;
    z-index: 999;
    animation: fadeInLeft 1s;
}

.btn-list {
    position: fixed;
    top: 6rem;
    right: 5%;
    z-index: 999;
    animation: fadeInRight 1s;
}

.btn-list .btn-link {
    width: 14rem;
    height: 4rem;
    border-radius: 2.3rem;
    border: solid 2px #d3d3d3;
    display: inline-block;
    margin-left: 3rem;
    line-height: 4rem;
    text-align: center;
    font-size: 1.5rem;
    color: #d2d2d2;
    cursor: pointer;
    z-index: 99;
}

.more {
    position: fixed;
    top: auto;
    right: auto;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    text-align: center;
    transition: opacity .3s linear;
    cursor: pointer;
    z-index: 999;
}

.more .more-text {
    opacity: 0;
    animation: slideInUp 1s 1s forwards;
}

.more .arrow-down {
    width: 2rem;
    height: 4.167rem;
    background: url("../images/arrow.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 1rem;
    opacity: 0;
    animation: slideInUp 1s 1s forwards;
}

.go-up {
    position: fixed;
    top: 11%;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    background: url("../images/arrow-up.png") no-repeat;
    background-size: 100% 100%;
    width: 2rem;
    height: 4.167rem;
    cursor: pointer;
    z-index: 999;
}

.section {
    position: relative;
    overflow: hidden;
}

#section1 {
    width: 100%;
    height: 100%;
}

.fp-scroller {
    height: 100%;
}

.section1 .bg {
    width: 100%;
    height: 100%;
    background: url('../images/bg1.png') no-repeat center;
    background-size: cover;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}

.section1 .content {
    width: 90%;
    height: 100%;
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
    position: absolute;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.section1 canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.section1 .content .logo-1 {
    width: 5.41rem;
    height: 3.17rem;
    background: url("../images/logo1.png") no-repeat;
    background-size: 100% 100%;
    /*margin: 12rem auto 0;*/
    opacity: 0;
    animation: slideInUp 1s forwards;
}

.section1 .content .text-1 {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
    opacity: 0;
    animation: slideInUp 1s .2s forwards;
}

.section1 .content .name {
    width: 100%;
    text-align: center;
    font-size: 5rem;
    margin-top: 3rem;
    opacity: 0;
    animation: slideInUp 1s .4s forwards;
}

.section1 .content .text-2 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
    opacity: 0;
    animation: slideInUp 1s .6s forwards;
}

.section1 .content .go-link {
    width: 28rem;
    height: 6rem;
    display: block;
    border-radius: 3rem;
    border: solid 2px #ff6600;
    margin: 3rem auto 0;
    line-height: 6rem;
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    opacity: 0;
    animation: slideInUp 1s .8s forwards;
}

.section-left {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    transform: translate(0, 0);
    transition: all .5s 1s ease-in;
}

.section-right {
    width: 60%;
    height: 100%;
    position: absolute;
    right: -60%;
    z-index: 1;
    transform: translate(0, 0);
    transition: all .5s 1s ease-in;
}

.section2-left {
    background: url('../images/bg2-1.png') no-repeat center;
    background-size: 100% 100%;
}

.section2-right {
    background: linear-gradient(50deg, #24bab7 0%, #7949f4 100%);
    -webkit-linear-gradient(50deg, #24bab7 0 %, #7949f4 100 %);
    -moz-linear-gradient(50deg, #24bab7 0 %, #7949f4 100 %);
}

.section3-left {
    background: url('../images/bg3-1.png') no-repeat center;
    background-size: 100% 100%;
}

.section3-right {
    background: linear-gradient(50deg, #c961a9 0%, #fb9261 100%);
    -webkit-linear-gradient(50deg, #c961a9 0 %, #fb9261 100 %);
    -moz-linear-gradient(50deg, #c961a9 0 %, #fb9261 100 %);
}

.section3-right .icon {
    display: inline-block;
    margin-right: 1rem;
    background-size: 100% 100%;
}

.section3-right .icon-1 {
    width: 2.8rem;
    height: 2.6rem;
    background: url("../images/icon-3-2.png") no-repeat;
}

.section3-right .icon-2 {
    width: 2.8rem;
    height: 2.5rem;
    background: url("../images/icon-3-1.png") no-repeat;
}

.section4-left {
    background: url('../images/bg4-1.png') no-repeat center;
    background-size: 100% 100%;
}

.section4-right {
    background: linear-gradient(50deg,
    #b2bb5d 0%,
    #67c673 100%);
    -webkit-linear-gradient(50deg,
    #b2bb5d 0 %,
    #67c673 100 %);
    -moz-linear-gradient(50deg,
    #b2bb5d 0 %,
    #67c673 100 %);
}

.mask {
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;
    transition: opacity .5s 1s;
}

.container {
    display: none;
}

.active .mask {
    opacity: .5;
}

.active .container {
    display: block;
    position: absolute;
    top: 25%;
    left: 40%;
    color: #ffffff;
    z-index: 2;
    opacity: 0;
    animation: container 3s forwards;
    transform-origin: left top;
    margin-left: -8rem;
}

.container .title {
    font-size: 2rem;
}

.container .content {
    font-size: 8rem;
}

.container .englist {
    font-size: 4rem;
}

.introduction {
    width: 50%;
    height: 60%;
    position: relative;
    top: 25%;
    left: 25%;
    overflow: hidden;
}
#introduction4{
    width: 65%;
    height: 50%;
    left: 20%;
}
.introduction .introduction-info {
    position: absolute;
    width: 100%;
}

.introduction .text-info {
    width: 100%;
    margin-bottom: 1rem;
}

.introduction .text-info p {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #ffffff;
}
.line-info{
    width: 100%;
    margin-bottom: 1.5rem;
}
.line-info .line-name{
    font-size: 1.5rem;
}
.line-info .line-name .icon{
    display: inline-block;
    margin-right: 1rem;
    vertical-align: middle;
}
.line-info .line-name .icon-pc{
    width: 34px;
    height: 30px;
    background: url("../images/icon-4-1.png") no-repeat center;
    background-size: 100% 100%;
}
.line-info .line-name .icon-mobile{
    width: 27px;
    height: 33px;
    background: url("../images/icon-4-2.png") no-repeat center;
    background-size: 100% 100%;
}
.line-info .line-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}
.line-info .line-list .list-item{
    display: block;
    width: 30%;
    padding: .5rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: solid 2px #ffffff;
    color: #ffffff;
    margin-bottom: .5rem;
}
.line-info .line-list .top{
    display: flex;
    justify-content: space-between;
}
.line-info .line-list .name{
    font-size: 1.167rem;
}
.line-info .line-list .signal{
    width: 1rem;
    height: 1.167rem;
}
.line-info .line-list .bottom{
    margin-top: .5rem;
    color: #a8a8a8;
}
.green .signal{
     background: url("../images/signal-1.png") no-repeat;
    background-size: 100% 100%;
 }
.green .status-speed{
    color: #20c500;
}
.yellow .signal{
    background: url("../images/signal-2.png") no-repeat;
    background-size: 100% 100%;
}
.yellow .status-speed{
    color: #dcb900;
}
.red .signal{
    background: url("../images/signal-3.png") no-repeat;
    background-size: 100% 100%;
}
.red .status-speed{
    color: #fa1c1c;
}

.section4-right .refresh-button{
    width: 40%;
    height: 4rem;
    line-height: 4rem;
    border-radius: 2rem;
    border: solid 2px #ffffff;
    color: #ffffff;
    font-size: 1.167rem;
    text-align: center;
    margin: 1rem auto;
    position: relative;
    top: 25%;
}
.section4-right .refresh-button .icon{
    width: 17px;
    height: 17px;
    display: inline-block;
    margin-right: 1rem;
    background: url("../images/refresh.png") no-repeat center;
    vertical-align: sub;
    transform: translateY(-.2rem);
}
.browset-list{
    width: 65%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 20%;
    bottom: 5%;
}
.browset-list .browset-item{
    display: block;
    width: 30%;
    color: #ffffff;
    text-align: center;
}
.browset-list .browset-item .icon{
    width: 2rem;
    height: 2rem;
    display: inline-block;
    margin-right: .5rem;
    transform: translateY(0.5rem);
}
.browset-list .browset-item:hover .icon{
    animation: flipInY 1s forwards;
}
.icon-google{
    background: url("../images/icon-google.png") no-repeat center;
    background-size: 100% 100%;
}
.icon-ie{
    background: url("../images/icon-ie.png") no-repeat center;
    background-size: 100% 100%;
}
.icon-firefox{
    background: url("../images/icon-firefox.png") no-repeat center;
    background-size: 100% 100%;
}
.arrow-down {
    margin: 0 auto;
}

.active .section-left {
    transform: translate(-60%, 0);
}

.active .section-right {
    transform: translate(-100%, 0);
}

@media (max-width: 767px) {
    .logo {
        width: 12rem;
        height: 3rem;
    }
    .go-up{
        top: 5%;
    }
    .btn-list {
        transform: translateY(-25%);
    }

    .btn-list .btn-link {
        width: 10rem;
        height: 3rem;
        margin-left: 2rem;
        line-height: 3rem;
        display: block;
        margin-bottom: 1rem;

    }

    .section1 .content .text-1, .section1 .content .text-2 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .section1 .content .name {
        font-size: 6rem;
    }

    .section1 .content .go-link {
        font-size: 3rem;
    }

    .section-right {
        width: 100%;
        right: -100%;
    }

    .active .container {
        left: 26%;
        top: 16%;
        margin-left: -6rem;
    }

    .introduction {
        width: 80%;
        left: 10%;
    }

    .introduction .text-info p {
        font-size: 3rem;
        line-height: 3rem;
    }
    #introduction4{
        width: 90%;
        left: 5%;
    }
    .line-info .line-name{
        font-size: 3rem;
    }
    .line-info .line-list .list-item{
        width: 33%;
    }
    .line-info .line-list .name{
        font-size: 2.5rem;
    }
    .section4-right .refresh-button{
        width: 70%;
        font-size: 3rem;
    }
    .browset-list{
        width: 90%;
        left: 5%;
        display: none;
    }
}

@keyframes left-tran {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-60%, 0);
    }
}

@keyframes right-tran {
    0% {
        transform: translate(-60%, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes slideInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes container {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible
    }
    50% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 1;
        transform: scale(0.5, 0.5);
    }
}

@keyframes fadeInLeft {

    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {

    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes flipInY{

    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}